
body{
	background-color: #786DC3;
	margin: 0;
}


.navBar {
	height: 70px;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(205, 245, 255, 1);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	position: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
}
.navBar a {
	text-align: center;
	height: 70px;
	padding: 23px;
	padding-top: 23px;
	color: #282828;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: medium;
    transition: all .2s ease-in;
    text-decoration: none;
    position: relative;
	top: 23px;
	margin: 0;
}
.navBar a:hover {
	color: #e9e9e9;
	background-color: #DB3B3B;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in;
	text-decoration: none;
}

.logo img {
	top: 7px;
	width: 200px;
	left: 45%;
	position: fixed;

.bg {
	background-image: URL(img/logo.png);
}

.calc-bg {
	background-color: #BCF5FF;
	width: 70%;
	height: 85%;
	top: 10%;
	left: 15%;

.ft {
	height: 69px;
	width: 100vw;
	top: 0;
	left: 0;
	position: fixed;
	
}