body{
	background-color: #786DC3;
	margin: 0;
}




.navBar {
	height: 70px;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(205, 245, 255, 1);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	position: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
}
.navBar a {
	text-align: center;
	height: 70px;
	padding: 23px;
	padding-top: 23px;
	color: #282828;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: medium;
    transition: all .2s ease-in;
    text-decoration: none;
    position: relative;
	top: 23px;
	margin: 0;
}
.navBar a:hover {
	color: #e9e9e9;
	background-color: #DB3B3B;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in;
	text-decoration: none;
}

.logo img {
	top: 7px;
	width: 200px;
	left: 45%;
	position: fixed;
}

.bg {
	background-image: URL(img/logo.png);
}

.calc-bg {
	display: block;
	background-color: #BCF5FF;
	width: 70%;
	height: 85%;
	top: 10%;
	left: 15%;
}

.infoBox {
	width: 65%;
	height: 100%;
	min-width: 300px;
	min-height: 10em;
	margin-left: 17.5%;
	margin-top: 12%;
	background-image: linear-gradient(rgb(247, 252, 73), orange 200%);
	z-index: 1;
	border-radius: 2em;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: 0px 0px 10px;
	position: fixed;
}
.infoBox p {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 1.5em;
}
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 12%;
	width: 65%;
	height: 120%;
	min-width: 300px;
	min-height: 10em;
	margin-left: 17.5%;
	margin-top: 12%;
	background-image: linear-gradient(rgb(247, 252, 73), orange 200%);
	z-index: -1;
	border-radius: 2em;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: 0px 0px 10px;
	position: absolute;
}
.flex {
	margin-left: 1em;
	margin-top: 1em;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}
.flex-card {
	margin-top: 4em;
}
.vehicles {
	margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.truck{
	height: 600px;
    width: 400px;
    border-color: #BCF5FF;
    background-color: #BCF5FF;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
    box-shadow: 0px 0px 8px;
}
.truck img{
	width: 100%;
	height: auto;
	border-radius: 20px;
}
.camaro{
	height: 600px;
    width: 400px;
    border-color: #F2F744;
    background-color: #F2F744;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
    box-shadow: 0px 0px 8px;
}
.camaro img{
	width: 100%;
	height: auto;
	border-radius: 20px;
}

.harleydavidson{
	height: 600px;
    width: 400px;
    border-color: #89BC3B;
    background-color: #89BC3B;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 8px;
}
.harleydavidson img{
	width: 100%;
	height: auto;
	border-radius: 20px;
}


.contactTxt {
     width: 65%;
	height: 87%;
	min-width: 300px;
	min-height: 10em;
	margin-left: 17.5%;
	margin-top: 12%;
	position: absolute;
	background-image: linear-gradient(rgb(247, 252, 73), orange 200%);
	z-index: 1;
	border-radius: 2em;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: 0px 0px 10px;
}
.contactTxt p {
    font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 1.5em;
}
.contactTxt h1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 2.9em;
}

.contactTxt img {
	position: absolute;
    left: 34%; 
}
